@using GSoft.AbpZeroTemplate.Web.Areas.AppAreaName.Models.Common
@model IOrganizationUnitsEditViewModel

<div class="form-group">
    <input id="OrganizationTreeFilter" type="text" class="form-control" placeholder="@L("SearchWithThreeDot")">
</div>
<div class="organization-tree">
    @Html.Partial("~/Areas/AppAreaName/Views/Common/_OrganizationUnitTreeItem.cshtml", new OrganizationUnitTreeItemModel(Model, null))
</div>