<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Editor
                </h3>
            </div>
        </div>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right">
        <div class="m-portlet__body">
            <div class="form-group m-form__group">
                <p-editor [(ngModel)]="htmlEditorInput" name="HtmlEditorInput" [style]="{'height':'300px'}"></p-editor>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions">
                <button class="btn btn-primary" (click)="submitValue()" type="button">{{l("Submit")}}</button>
            </div>
        </div>
    </form>
</div>
