.user-edit-dialog-profile-image {
  margin-bottom: 20px;
}
div.user-password.has-error span.help-block {
  position: relative !important;
  -ms-opacity: 1 !important;
  opacity: 1 !important;
}
div.user-password.has-error label:after {
  background: transparent !important;
}
div.user-password.has-error input {
  border-bottom-width: 2px !important;
}
#UsersTable img.img-circle {
  height: 24px;
  margin-right: 5px;
  box-shadow: 1px 1px 5px 1px #a8a8a8;
}