.feature-tree-textbox {
  max-width: 100px;
  margin: 1px;
  margin-left: 5px;
}
.feature-tree-textbox.feature-tree-textbox-invalid {
  background: #f00;
  color: white;
}
div.tenant-admin-password.has-error span.help-block {
  position: relative !important;
  -ms-opacity: 1 !important;
  opacity: 1 !important;
}
div.tenant-admin-password.has-error label:after {
  background: transparent !important;
}
div.tenant-admin-password.has-error input {
  border-bottom-width: 2px !important;
}