<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span *ngIf="customer.id">{{l("EditCustomer")}}: {{customer.name}}</span>
                    <span *ngIf="!customer.id">{{l("CreateNewCustomer")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Tên khách hàng</label>
                    <p>{{customer.name}}</p>
                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <p>{{customer.address}}</p>
                </div>
                <div class="form-group">
                    <label>Thông tin</label>
                    <p>{{customer.info}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-default"
                    (click)="close()">{{l("Cancel")}}</button>
                <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                    [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                    <span>{{l("Save")}}</span></button>
            </div>
        </div>
    </div>
</div>