<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #editForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="menuClient.id">{{l("EditMenuClient")}}: {{menuClient.name}}</span>
                        <span *ngIf="!menuClient.id">{{l("CreateNewMenuClient")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <select #menuClientCombobox name="menuClientName" class="form-control" [(ngModel)]="menuClient.parentId"
                            [attr.data-live-search]="true" jq-plugin="selectpicker" required>
                            <option value="">{{emptyText}}</option>
                            <option *ngFor="let item of menuClients" [value]="item.value">{{item.displayText}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>{{l("MenuClientName")}} *</label>
                        <input #nameInput="ngModel" class="form-control" type="text" name="DisplayName" [(ngModel)]="menuClient.name"
                            required maxlength="64">
                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>{{l("MenuClientAlias")}} *</label>
                        <input #aliasInput="ngModel" class="form-control" type="text" name="Alias" [(ngModel)]="menuClient.alias"
                            required maxlength="64">
                        <validation-messages [formCtrl]="aliasInput"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
