.easy-pie-chart .title {
  color: #333;
}
.easy-pie-chart .title:hover {
  color: #666;
}
.m--border-top-primary {
  border-top-color: #58DCC2 !important;
}
body.m-page--boxed {
  background-image: url(/metronic/dist/html/green/assets/demo/green/media/img/bg/bg-4.jpg);
}
.alert.alert-warning {
  color: #333;
}
.m-messenger__message.m-messenger__message--out time {
  color: #ececec;
}
.m-messenger__message.m-messenger__message--out .m-messenger__message-body .m-messenger__message-username span {
  color: #ececec;
}
.m-messenger__message.m-messenger__message--out .m-messenger__message-body .m-messenger__message-text {
  color: #fff !important;
}
.m-messenger__message.m-messenger__message--out .m-messenger__message-body .m-messenger__message-text span {
  color: #fff;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading {
  background-color: #ECFDF9 !important;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link {
  background-color: #ECFDF9 !important;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__heading {
  background-color: #ECFDF9 !important;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__link {
  background-color: #ECFDF9 !important;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text {
  color: #ececec;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-icon {
  color: #ececec;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
  color: #ececec;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon {
  color: #ececec;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-icon {
  color: #ececec;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text {
  color: #ececec;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon {
  color: #ececec;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
  color: #ececec;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-dark .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-icon {
  color: #ececec;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-dark .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text {
  color: #ececec;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-dark .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon {
  color: #ececec;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--submenu-skin-dark .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
  color: #ececec;
}
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-dark .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-icon {
  color: #ececec;
}
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-dark .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text {
  color: #ececec;
}
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-dark .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon {
  color: #ececec;
}
.m-aside-menu.m-aside-menu--dropdown.m-aside-menu--submenu-skin-dark .m-menu__nav .m-menu__item.m-menu__item--hover > .m-menu__submenu > .m-menu__subnav .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
  color: #ececec;
}
@media (max-width: 992px) {
  .m-aside-header-menu-mobile li.m-menu__item.m-menu__item--active {
    color: #6ACAB6 !important;
  }
  .m-aside-header-menu-mobile li.m-menu__item.m-menu__item--active a {
    background-color: #ECFDF9 !important;
  }
  .m-aside-header-menu-mobile li.m-menu__item.m-menu__item--active a:hover {
    background-color: #F8FAFA !important;
  }
  .m-aside-header-menu-mobile li.m-menu__item.m-menu__item--active ul.m-menu__subnav li a {
    background-color: #fff !important;
  }
  .m-aside-header-menu-mobile li.m-menu__item.m-menu__item--active ul.m-menu__subnav li a:hover {
    background-color: #F8FAFA !important;
  }
  .m-aside-header-menu-mobile li.m-menu__item.m-menu__item--active ul.m-menu__subnav li.m-menu__item.m-menu__item--active a {
    background-color: #ECFDF9 !important;
  }
  .m-aside-header-menu-mobile li.m-menu__item.m-menu__item--active ul.m-menu__subnav li.m-menu__item.m-menu__item--active a:hover {
    background-color: #F8FAFA !important;
  }
}
div.btn-group label.btn-secondary.active {
  background-color: #ddd;
}
.m-list-timeline__items.empty:before {
  background-color: transparent !important;
}
.m-topbar .m-topbar__nav.m-nav > .m-nav__item.m-topbar__user-profile.m-topbar__user-profile--img.m-dropdown--arrow .m-dropdown__arrow {
  color: #95C7BC;
}
.m-card-user .m-card-user__details .m-card-user__name {
  color: #fff !important;
}
.form-control[readonly] {
  background-color: #f3f3f3 !important;
}
.m-header-head.m-brand--skin-dark {
  background-color: #273C37;
}