.input-group span.input-group-btn button {
  border-bottom-right-radius: 3.5px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 3.5px;
  border-top-left-radius: 0px;
}
.input-group span.input-group-btn button i {
  font-size: 1rem;
}
html[dir=rtl] .input-group span.input-group-btn button {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 3.5px;
  border-top-right-radius: 0px;
  border-top-left-radius: 3.5px;
}
.small-profile-pic {
  height: 30px;
}
.easy-pie-chart {
  text-align: center;
}
.easy-pie-chart .number {
  font-size: 14px !important;
  font-weight: 300;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 75px;
  height: 75px;
  line-height: 75px;
}
.easy-pie-chart .number canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.easy-pie-chart .title {
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.easy-pie-chart .title:hover {
  text-decoration: none;
}
.easy-pie-chart .title > i {
  margin-top: 5px;
}
.m-login.m-login--1 .m-login__wrapper .m-login__logo {
  margin-bottom: .5rem !important;
}
.m-brand {
  z-index: 999;
}
.m-brand__logo-wrapper {
  margin-left: -5px !important;
}
.m-footer {
  z-index: 100 !important;
}
.modal .modal-content .modal-header .close:before {
  cursor: pointer !important;
}
.m-messenger__message {
  width: 100% !important;
}
.m-messenger__message .m-messenger__message-body {
  width: 100% !important;
}
.m-messenger__message .m-messenger__message-body .m-messenger__message-username {
  text-align: right !important;
}
.m-messenger__message .m-messenger__message-body .m-messenger__message-username span {
  float: left;
}
.m-messenger__message.m-messenger__message--out .m-messenger__message-body .m-messenger__message-username {
  text-align: left !important;
}
.m-messenger__message.m-messenger__message--out .m-messenger__message-body .m-messenger__message-username span {
  float: right;
}
.m-messenger__message.m-messenger__message--out .m-messenger__message-body .m-messenger__message-text {
  text-align: right;
}
.m-checkbox > input:disabled ~ span {
  opacity: .3;
}
.m-subheader {
  padding: 15px 15px 0 15px;
}
.m-subheader .m-section__sub {
  position: relative;
  top: 3px;
}
.m-content {
  padding: 15px 15px !important;
}
td label.m-checkbox span {
  top: -12px !important;
}
.m-widget24 .m-widget24__item .m-widget24__title {
  margin-top: 1.21rem;
}
.m-widget24 .m-widget24__item .m-widget24__change,
.m-widget24 .m-widget24__item .m-widget24__number {
  margin-bottom: 0.86rem;
}
.m-subheader .m-subheader__daterange {
  border-radius: 3.5px;
}
#m_header_topbar {
  z-index: 1 !important;
}
@media (max-width: 480px) {
  .m-topbar .m-topbar__nav.m-nav {
    margin: 0 10px 0 10px;
  }
}
@media (max-width: 320px) {
  .m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-topbar__username {
    display: none;
  }
}
.m-form .m-form__heading {
  margin-top: 10px !important;
}
.m-card-user .m-card-user__details .m-card-user__name {
  word-break: break-word;
  font-size: 1.1rem;
}
.m-aside-left--fixed .m-aside-left .mCSB_scrollTools {
  right: -4px;
}
.m-pricing-table-1 .m-pricing-table-1__items .m-pricing-table-1__item .m-pricing-table-1__price {
  margin-bottom: 0.571rem;
}
.m-pricing-table-1 .m-pricing-table-1__items .m-pricing-table-1__item:nth-child(1) .m-pricing-table-1__price {
  font-size: 3rem;
}
.m-pricing-table-1 .m-pricing-table-1__items .m-pricing-table-1__item .m-pricing-table-1__description {
  display: table;
  margin: 0 auto;
  text-align: left;
  padding-left: 10px;
}
.m-pricing-table-1 .m-pricing-table-1__items .m-pricing-table-1__item .m-pricing-table-1__description .la {
  font-size: 0.93rem;
  padding-right: 5px;
}
.m-pricing-table-1 .m-pricing-table-1__items .m-pricing-table-1__item .m-pricing-table-1__btn > .btn {
  padding: 0.7rem 2rem;
}
@media (min-width: 1025px) {
  body.m-aside-left--skin-light.m-page--boxed .m-header {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.bootstrap-datetimepicker-widget {
  width: 285px !important;
  padding: 10px !important;
}