#HostDashboard div.chart {
  height: 260px;
}
#HostDashboard div.pie-chart-label {
  border: 1px solid grey;
  font-size: 8pt;
  text-align: center;
  padding: 5px;
  color: white;
}
#HostDashboard div.portlet div.portlet-title div.caption div.caption-helper {
  margin-top: 5px;
}
#HostDashboard div.portlet div.portlet-title div.actions {
  padding: 0;
}
#HostDashboard div.flot-x-axis > div {
  white-space: nowrap;
  transform: translate(0px, 0) rotate(-25deg);
  text-indent: -6%;
  transform-origin: bottom;
}
#HostDashboard .portlet > .portlet-title > .caption > .caption-helper {
  font-size: 11px;
}
#HostDashboard table.expiring-tenants-table {
  border: 1px solid #e7ecf1 !important;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.03);
}
#HostDashboard table.expiring-tenants-table thead {
  background-color: #E08283 !important;
  color: white;
}
#HostDashboard table.recent-tenants-table {
  border: 1px solid #e7ecf1 !important;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.03);
}
#HostDashboard table.recent-tenants-table thead {
  background-color: #8877a9 !important;
  color: white;
}
#HostDashboard input[name='IncomeStatisticsDatePeriod'] {
  display: none;
}
h3 small {
  padding-left: 0px !important;
}
.dataTables_wrapper table thead tr {
  height: 41px;
}