<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert alert-brand fade show" role="alert">
                <div class="m-alert__icon">
                    <i class="flaticon-exclamation" aria-label="@L("Wellcome")"></i>
                    <span></span>
                </div>
                <div class="m-alert__text">
                    <h5>@L("WelcomePage_Title")</h5>
                    @L("WelcomePage_Info")
                </div>
            </div>
        </div>
    </div>
</div>    