<div [@routerTransition]>
    <div class="m-login__signin">
        <div class="m-login__head">
            <h3 class="m-login__title">
                {{l("ForgotPassword")}}
            </h3>
        </div>
        <form class="m-login__form m-form forget-form" #forgotPassForm="ngForm" method="post" novalidate (ngSubmit)="save()">
            <p>
                {{l("SendPasswordResetLink_Information")}}
            </p>
            <div class="form-group m-form__group">
                <input #emailAddressInput="ngModel" [(ngModel)]="model.emailAddress" autoFocus class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="{{l('EmailAddress')}} *" name="emailAddress" required maxlength="256" email />
                <validation-messages [formCtrl]="emailAddressInput" [errorDefs]="[{email: l('InvalidEmailAddress')}]"></validation-messages>
            </div>
            <div class="m-login__form-action">

                <button [disabled]="saving" routerLink="/account/login" type="button" class="btn btn-outline-primary  m-btn m-btn--pill m-btn--custom"><i class="fa fa-arrow-left"></i> {{l("Back")}}</button>
                <button type="submit" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air" [disabled]="!forgotPassForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-check"></i> {{l("Submit")}}</button>
            </div>
        </form>
    </div>
</div>
