@media (min-width: 993px) {
  .m-aside-menu--skin-light {
    background-color: transparent !important;
  }
  .m-aside-menu--skin-dark {
    background-color: transparent !important;
  }
  .m-aside-menu--skin-dark .m-container {
    background: #262734 !important;
  }
}
span.m-menu__arrow.m-menu__arrow--adjust {
  color: #fff;
}
body.m-aside-left--skin-dark .m-topbar__nav li.m-nav__item.m-topbar__user-profile ul li a span {
  color: #6f727d !important;
}
body.m-aside-left--skin-dark .m-topbar__nav li.m-nav__item.m-topbar__user-profile ul li a span:hover {
  color: #716aca !important;
}
body.m-aside-left--skin-dark .m-topbar__nav li.m-nav__item.m-topbar__user-profile ul li a i.fa-angle-down {
  color: #6f727d !important;
}
body.m-aside-left--skin-dark .m-topbar__nav li.m-nav__item.m-topbar__user-profile ul li a i.fa-angle-down:hover {
  color: #716aca !important;
}
body.m-aside-left--skin-light li.m-menu__item.m-menu__item--active {
  background-color: #ededfd !important;
}
body.m-aside-left--skin-light li.m-menu__item.m-menu__item--active i.m-menu__link-icon,
body.m-aside-left--skin-light li.m-menu__item.m-menu__item--active i.m-menu__hor-arrow {
  color: #716aca !important;
}
body.m-aside-left--skin-light li.m-menu__item.m-menu__item--active span.m-menu__link-text span.title {
  color: #716aca !important;
}
body.m-aside-left--skin-light li.m-menu__item.m-menu__item--active li.m-menu__item--submenu:not(.m-menu__item--active) i.m-menu__link-icon,
body.m-aside-left--skin-light li.m-menu__item.m-menu__item--active li.m-menu__item--submenu:not(.m-menu__item--active) i.m-menu__hor-arrow {
  color: #676c7b !important;
}
body.m-aside-left--skin-light li.m-menu__item.m-menu__item--active li.m-menu__item--submenu:not(.m-menu__item--active) span.m-menu__link-text span.title {
  color: #676c7b !important;
}
ul.m-menu__subnav li.m-menu__item.m-menu__item--submenu i.m-menu__link-icon {
  color: #676c7b !important;
}
ul.m-menu__subnav li.m-menu__item.m-menu__item--submenu span.m-menu__link-text span.title {
  color: #676c7b !important;
}
ul.m-menu__subnav li.m-menu__item.m-menu__item--submenu.m-menu__item--active i.m-menu__link-icon,
ul.m-menu__subnav li.m-menu__item.m-menu__item--submenu.m-menu__item--active i.m-menu__hor-arrow {
  color: #716aca !important;
}
ul.m-menu__subnav li.m-menu__item.m-menu__item--submenu.m-menu__item--active span.m-menu__link-text span.title {
  color: #716aca !important;
}
/* Modify Base Styles For Header Menu */