.langname:after{
	content: "\200E‎" !important;
}

li.dropdown-language ul.dropdown-menu li a:after{
	content: "\200E‎" !important;
}

.tenant-change-component:after {
    content: "\200E‎" !important;
}

.ou-text:after {
    content: "\200E‎" !important;
}

div.income-statistics label.m-btn--pill {
    margin-left: 0px;
}

span.m-menu__arrow {
    right: 58px !important;
}

nav.m-menu__submenu--right span.m-menu__arrow {
    transform: rotate(180deg) !important;
    width: 40px !important;
    right: 0 !important;
}

.contact-status1 {
    right: 30px !important;
}

.page-quick-sidebar-pinner {
    right: 400px !important;
}

.selected-chat-user div.actions {
    float: left !important;
}

.dropdown-menu[x-placement^="top"], .dropdown-menu[x-placement^="right"], .dropdown-menu[x-placement^="bottom"], .dropdown-menu[x-placement^="left"] {
    right: auto;
    bottom: auto;
}
