<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Select2 Dropdowns With Autocomplete
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <form role="form">

            <div class="form-group m-form__group row">
                <label for="select2SingleSelect" class="col-lg-12">Single select</label>
                <div class="col-lg-10 col-md-9 col-sm-8">
                    <select id="select2SingleSelect" class="form-control m-select2"></select>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button class="btn btn-primary test-btn-select2-single" type="button">@L("Submit")</button>
                </div>
            </div>
            
            <div class="form-group m-form__group row">
                <label for="select2MultiSelect" class="col-lg-12">Multi select</label>
                <div class="col-lg-10 col-md-9 col-sm-8">
                    <select id="select2MultiSelect" class="form-control m-select2" multiple="multiple"></select>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button class="btn btn-primary test-btn-select2-multiple" type="button">@L("Submit")</button>
                </div>
            </div>
            
            <div class="form-group m-form__group row">
                <label for="select2Tagging" class="col-lg-12">Tagging support</label>
                <div class="col-lg-10 col-md-9 col-sm-8">
                    <select id="select2Tagging" class="form-control select2-tagging" multiple="multiple"></select>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <button class="btn btn-primary test-btn-select2-tagging" type="button">@L("Submit")</button>
                </div>
            </div>

        </form>
    </div>
</div>