<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #editForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="menuClient.id">{{l("Sua Thong Tin")}}: {{menuClient.name}}</span>
                        <span *ngIf="!menuClient.id">{{l("Thêm Mới Đơn Vị")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">                                                    
                    <div class="form-group">
                        <label>{{l("Mã Đơn Vị")}} *</label>
                        <input #depreciatedValue="ngModel" class="form-control" type="text" name="unitCode" [(ngModel)]="menuClient.unitCode"
                             required maxlength="64">
                        <validation-messages [formCtrl]="unitCode"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>{{l("Tên Đơn Vị")}} *</label>
                        <input class="form-control" type="text" name="unitName" [(ngModel)]="menuClient.unitName"
                  required maxlength="64">
                  <validation-messages [formCtrl]="unitName"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>{{l("Trưởng Đơn Vị")}} *</label>
                        <input #remainingValue="ngModel" class="form-control" type="text" name="user" [(ngModel)]="menuClient.user"
                            required maxlength="64">      
                        <validation-messages [formCtrl]="user"></validation-messages>                  
                    </div>        
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
