div.m-content {
  padding: 50px;
  text-align: center;
}
div.m-content div.m-login__wrapper.tenant-registration {
  margin-left: 30%;
  margin-right: 30%;
}
div.m-content div.logo {
  margin-bottom: 50px;
}
.m-login.m-login--1 .m-login__wrapper {
  padding: 0 2rem 2rem 2rem !important;
}
h4.m-portlet__head-text {
  font-size: 1rem !important;
}
.form-control-feedback {
  text-align: left;
}
.language-switch-area {
  text-align: center;
  padding: 10px;
}
.language-switch-area .language-icon {
  -ms-opacity: 0.5;
  opacity: 0.5;
}
.language-switch-area .language-icon-current {
  -ms-opacity: 1;
  opacity: 1;
}