/* centered columns styles */
.row-centered {
    text-align: center;
    display: block !important;
}

.col-centered {
    display: inline-table;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.m-pricing-table-1__price, .m-pricing-table-1__subtitle, .m-pricing-table-1__btn {
    text-align: center;
}

.m-pricing-table-1 .m-pricing-table-1__items .m-pricing-table-1__item .m-pricing-table-1__price {
    font-size: 2rem !important;
}

button:disabled,
button[disabled] {
    cursor: not-allowed !important;
}

body {
    background-color: #f2f3f8;
}

.m-pricing-table-1__item:nth-child(4n) {
    border-right: none !important;
}
